body{
    margin: 0;
    padding: 0;
    background: grey;
}
.contenedor{
    width: 320px;
    height: 520px;
    background: #000;
    color: #FFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding:70px 30px;
	border-radius: 20px;
}
.contenedor .image{
    width:100px;
    height: 100px;
    border-radius:50%;
    position: absolute;
    top: -10%;
    left: calc(50% - 50px);
}
.contenedor h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.contenedor label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display:block;
    color: #9ACD32;
}
.contenedor input{
    width: 100%;
    margin-bottom: 20px;
}
.contenedor input[type="text"], input[type="email"]{
	border: none; 
	border-bottom: 1px solid #FFF;
	background: transparent;
	outline: none; 
	height: 40px;
	color: #FFF;
	font-size: 16px;
}
.contenedor input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #556B2F;
	color: #FFF;
	font-size: 18px;
	border-radius: 20px;
}