*{
	
	margin: 0;

	padding: 0;

	box-sizing: border-box;

}

body{

	background: #58ED2C;

}

.titulo{
	
	width: 100%;

	height: 100px;

	background: #FFED14;

}

.tema h1{

	color: white;

	font-family: cursive;

	margin-left: 400px;
	
	font-size: 50px;

}

.contenedor{

	width: 480px;

	height: 800px;

	background: #ED982C;

	margin-left: 135px;

}

.texto{

	font-family: cursive;

	color: black;

	font-size: 25px;

}

.todo{
	
	display: flex;

}


.contenedor2 img{

	width: 480px;

	height: 350;
	
margin-left: 55px;

}

.contenedor3{

	width: 480px;

	height: 650px;

	background: #ED982C;

	margin-left: 55px;

}

.video{

	margin-top: 35px;
	
	margin-left: 30px;

}
a {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}